
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <%= form_with model: [:masters, masters_article], local: true do |form| %>
        <% if masters_article.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(masters_article.errors.count, "error") %> prohibited this masters_article from being saved:</h2>
            <ul>
              <% masters_article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <h1>コラム 投稿</h1>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
          </div>
          <%= form.text_field :title, class: "form-control"%>
          <%# <input type="text" class="form-control"> %>
        </div>
        <p class="lead">
          <div class="field">
            <%= form.label :content %>
            <%= form.rich_text_area :content %>
          </div>
          <%= form.submit '投稿する',class: "btn btn-primary btn-lg btn-block mt-4"%>
        </p>
      <% end %>
        
        <%# <p class="lead">Scroll down...</p> %>
        <div style="height: 700px"></div>
        <p class="lead mb-0"></p>
    </div>
  </div>
</div>
